.services_area {
  background: #F9F8F4;
}
.section_title{
	font-size: 30px;
	line-height: 1;
	text-align: center;
  color: #222;
}
.btn-style1.manage_in_btn.btn.btn-primary {
	width: 260px;
	padding: 16px 0;
	margin-top: 25px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
}