cart-area{
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.cart-area:last-child{
  border-bottom: none;
  padding-bottom: 0px;
}
.cart-area .cart-details .cart-item{
  padding: 13px 0px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-area .cart-details .cart-item span.cart-head{
  font-size: 16px;
  font-weight: 700;
}
.cart-area .cart-details .cart-item span.c-items{
  border-bottom: 1px solid #000;
  margin-bottom: 3px;
}
.cart-area .cart-details .cart-all-pro{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.cart-area .cart-details .cart-all-pro .cart-pro{
  width: 60%;
  margin-top: 20px;
  display: flex;
}
.cart-area .cart-details .cart-all-pro .cart-pro .cart-pro-image{
  margin-right: 15px;
}
.cart-pro-image img {
  width: 80px;
}
.cart-area .cart-details .cart-all-pro .cart-pro .pro-details h4{
  font-size: 16px;
  line-height: 1;
}
.cart-area .cart-details .cart-all-pro .cart-pro .pro-details span.pro-size{
  margin-top: 10px;
  display: block;
  line-height: 1;
}
.cart-area .cart-details .cart-all-pro .cart-pro .pro-details span.pro-size span.size{
  font-weight: 600;
}
.cart-area .cart-details .cart-all-pro .cart-pro .pro-details span.pro-shop{
  margin-top: 10px;
  display: block;
  line-height: 1;
}
.cart-area .cart-details .cart-all-pro .cart-pro .pro-details span.cart-pro-price{
  margin-top: 10px;
  display: block;
  line-height: 1;
}
.cart-area .cart-details .cart-all-pro .qty-item{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-area .cart-details .cart-all-pro .qty-item .plus-minus{
  display: flex;
  align-items: center;
}
.cart-area .cart-details .cart-all-pro .qty-item .plus-minus span{
  display: flex;
  border: 1px solid #eee;
}
.cart-area .cart-details .cart-all-pro .qty-item .plus-minus span a{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-area .cart-details .cart-all-pro .qty-item .plus-minus span input{
  width: 50px;
  height: 30px;
  padding: 0px;
  text-align: center;
  border-top: none;
  border-bottom: none;
}
.cart-area .cart-details .cart-all-pro .qty-item .plus-minus a.quick-cart,
.cart-area .cart-details .cart-all-pro .qty-item .plus-minus a.quick-wishlist{
  width: 40px;
  height: 40px;
  background-color: #f5ab1e;
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.cart-area .cart-details .cart-all-pro .qty-item .center a.pro-remove{
  color: #f5ab1e;
  margin-top: 15px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-area .cart-details .cart-all-pro .all-pro-price{
  width: 20%;
  text-align: right;
}
.cart-area .cart-details .cart-all-pro .all-pro-price span{
  font-weight: 600;
}
.cart-area .cart-details .other-link{
  margin-top: 21px;
  padding: 15px 0px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.cart-area .cart-details .other-link ul.c-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-area .cart-details .other-link ul.c-link li.cart-other-link a{
  color: #f5ab1e;
  text-decoration: underline;
}
.cart-total{
  background-color: #f7f7f7;
  position: sticky;
  top: 0px;
  padding: 15px;
}
.cart-total .cart-price{
  padding-top: 15px;
  padding-bottom: 14px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-total .cart-price span.total{
  font-weight: 600;
}
.cart-total .cart-info h4{
  font-size: 14px;
  margin-top: 25px;
}
.cart-total .cart-info form{
  margin-top: 8px;
}
.cart-total .cart-info form label{
  font-size: 13px;
  margin-top: 15px;
}
.cart-total .cart-info form label:first-child {
  margin-top: 0px;
}
.cart-total .cart-info form select{
  width: 100%;
  background-color: #fff;
  padding: 8px 10px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 10px;
}
.cart-total .cart-info form input{
  width: 100%;
  background-color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 10px;
}
.cart-total .cart-info a.cart-calculate{
  color: #f5ab1e;
  margin-top: 25px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-total .shop-total{
  margin-top: 26px;
  padding: 14px 0px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-total .shop-total span.total-amount{
  font-weight: 600;
}
.cart-total a.check-link{
  color: #f5ab1e;
  margin-top: 25px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}