.del_button {
	cursor: pointer;
}
.manage_inventory_page table td, .manage_inventory_page table th {
	padding-left: 10px !important;
}
.page-item {
	cursor: pointer;
}
.active .page-link {
	background: #FF5400;
}