.footer_area {
  background-color: #F9F8F4;
  padding-bottom: 20px;
}
.footer_bottom {
	margin-top: 50px;
	padding-top: 50px;
}
.single_widget p {
  color: #333;
  font-size: 14px;
  line-height: 30px;
  margin-top: 10px;
}
.single_widget > h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.single_widget ul {
	padding-left: 0;
}
.single_widget ul li {
  list-style: none;
}
.single_widget ul li a {
  color: #333;
  font-size: 14px;
  line-height: 30px;
}
.footer_social {
  margin-top: 20px;
}
.footer_social i {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin-right: 15px;
}
.single_info span {
  color: #A1B4BA;
  font-size: 14px;
  line-height: 25px;
  margin-top: 10px;
}
.contactinfo_area h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px
}
.fa_fa_icon {
  color: #282828;
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-top: 4px;
  font-size: 14px;
}
.single_info {
  border-bottom: 1px solid #232e3c;
  display: inline-block;
  margin-top: 5px;
  padding-bottom: 5px;
  width: 80%;
}
.fa.fa-map-marker {
  margin-top: 19px;
}
.form-group input {
  border: 1px solid #273141;
  color: #fff;
  box-shadow:  none;
  font-size: 12px ;
}
.form-control {
  box-shadow:  none;
}
.message_area .form-control {
  color: #fff;
  border: 1px solid #273141;
  font-size: 12px ;
}
.contactus_area > h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px
}
.form-control:focus {
  box-shadow:  none;
  outline: 0 none ;
}
.submit_btn {
  border: medium none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 9px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.copyright_section {
  background-color: #F8F9FA;
  border-top: 1px solid #333;
  padding-bottom: 15px;
}
.copyright_text p {
    color: #333;
    font-size: 14px;
    margin-top: 30px;
}


.footer_menu {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer_menu ul {
    list-style: none;
}
.footer_menu ul li {
    float: left
}
.footer_menu ul li a {
    font-size: 13px;
    color: #333;
    margin-right: 15px;
    display: inline-block;
    font-weight: 700;
    padding: 20px 6px
}
.footer_menu ul li a:hover {
    color: #333;
    text-decoration: none;
}
.submit_btn {
  background: rgb(255, 84, 0);;
}
.form-group {
	margin-bottom: 15px;
}